<h1>
    Buscador:
    <small>{{termino}}</small>
</h1>

<div class="card-columns">
    <div class="card" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">ver mas..</button>
        </div>
    </div>
</div>