<h1>{{heroe.nombre | uppercase}} (<small>{{heroe.aparicion | date: 'y'}}</small>) </h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid">
        <br>
        <br>
        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img *ngIf="heroe.casa === 'Marvel'" src="assets/img/marvel.png" class="img-logo" alt="imagen del heroe dependiendo si es dc o marvel">
            <img *ngIf="heroe.casa === 'DC'" src="assets/img/dc.png" class="img-logo" alt="imagen del heroe dependiendo si es dc o marvel">
        </div>
    </div>
</div>